<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Input Source</title>
</head>
<body>
    <h1>Select Input Source</h1>
    <form action="/select-source" method="post">
        <input type="radio" id="camera" name="source" value="camera">
        <label for="camera">Camera Input</label><br>
        
        <input type="radio" id="mic" name="source" value="mic">
        <label for="mic">Mic Input</label><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
