<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Confirm Detection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Detected: {{ detected_class }}({{ price }}THB)</h1>
        <div class="center">
            <form method="post">
                <div class="radio-wrapper" id="yes_wrapper">
                    <input type="radio" id="yes" name="confirm" value="yes">
                    <label for="yes">Start robot guide</label><br>
                </div>
                <div class="radio-wrapper" id="again_wrapper">
                    <input type="radio" id="again" name="confirm" value="again">
                    <label for="again">Detection again</label><br>
                </div>
                <!-- Submitボタン -->
                <div class="submit-button-container">
                    <input type="submit" value="SUBMIT" class="btn btn--orange">
                </div>
            </form>
        </div>
        <!-- JavaScriptコード -->
        <script>
            // ラジオボタンが変更されたときのイベントリスナー
            document.addEventListener("DOMContentLoaded", function() {
                const radioButtons = document.querySelectorAll('input[type="radio"]');
                radioButtons.forEach(function(radio) {
                    radio.addEventListener('change', function() {
                        // 全部の枠線を元に戻す
                        document.querySelectorAll('.radio-wrapper').forEach(function(wrapper) {
                            wrapper.classList.remove('selected');
                        });
                        // 選択された項目だけを青くする
                        const wrapper = document.getElementById(this.id + '_wrapper');
                        wrapper.classList.add('selected');
                    });
                });
            });
        </script>
    </body>
</html>

