<!DOCTYPE html>
<html>
<head>
    <title>Top Page of ServiceRobot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1>What do you want to do?</h1>

    <!-- 入力ソース選択画面へ -->
    <div class="center-button">
        <form action="{{ url_for('goto_select_source') }}" method="get">
            <input type="submit" value="Product Guide" class="btn btn--orange width-button">
        </form>
    </div>
    <!-- 価格検索へ -->
    <div class="center-button">
        <form action="{{ url_for('goto_select_source') }}" method="get">
            <input type="submit" value="Price Search" class="btn btn--orange width-button">
        </form>
    </div>

</body>
</html>
