<!DOCTYPE html>
<html>
<head>
    <title>Select Source</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Select Input Source</h1>
    <form action="/select-source" method="post">
        <div class="container">
            <!-- 左側 -->
            <div class="left">
                <img src="{{ url_for('static', filename='images/ServiceRobot.png') }}" alt="ServiceRobot">
            </div>
            <!-- 右側 -->
            <div class="right">
                <!-- Object Detection -->
                <div class="radio-wrapper" id="object_detection_wrapper">
                    <input type="radio" id="object_detection" name="choice" value="object_detection">
                    <label for="object_detection">Object Detection</label><br>
                </div>
                <!-- Text Recognition -->
                <div class="radio-wrapper" id="text_recognition_wrapper">
                    <input type="radio" id="text_recognition" name="choice" value="text_recognition">
                    <label for="text_recognition">Text Recognition</label><br>
                </div>
                <!-- Voice Recognition -->
                <div class="radio-wrapper" id="voice_recognition_wrapper">
                    <input type="radio" id="voice_recognition" name="choice" value="voice_recognition">
                    <label for="voice_recognition">Voice Recognition</label><br>
                </div>
            </div>
        </div>
        <!-- Submitボタン -->
        <div class="submit-button-container">
            <input type="submit" value="SUBMIT" class="btn btn--orange">
        </div>
    </form>

    <!-- JavaScriptコード -->
    <script>
        // ラジオボタンが変更されたときのイベントリスナー
        document.addEventListener("DOMContentLoaded", function() {
            const radioButtons = document.querySelectorAll('input[type="radio"]');
            radioButtons.forEach(function(radio) {
                radio.addEventListener('change', function() {
                    // 全部の枠線を元に戻す
                    document.querySelectorAll('.radio-wrapper').forEach(function(wrapper) {
                        wrapper.classList.remove('selected');
                    });
                    // 選択された項目だけを青くする
                    const wrapper = document.getElementById(this.id + '_wrapper');
                    wrapper.classList.add('selected');
                });
            });
        });
    </script>
</body>
</html>
